body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
}

header h1 {
 margin-bottom: 1rem;
}

.search-filter {
    display: flex;
    gap: 1rem;
}

.search-filter input,
.search-filter select {
    padding: 0.5rem;
    font-size: 1rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.product-card h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 0.5rem 0;
}

.product-card p {
    font-size: 0.9rem;
    color: #666;
    margin: 0.5rem 0;
}

.product-card .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
    color: #333;
    margin-top: 0.5rem;
}

.product-card .details div {
    margin: 0.3rem 0;
}

.product-card .price {
    font-size: 1.2rem;
    color: #e91e63;
    font-weight: bold;
    margin-top: 1rem;
    align-self: center;
}

.product-card .original-price {
    font-size: 1rem;
    color: #666;
    text-decoration: line-through;
    margin-top: 0.5rem;
    align-self: center;
}

.product-card .discount-percentage {
    font-size: 1rem;
    color: #24d80c;
    margin-top: 0.5rem;
    align-self: center;
}
.product-card .rating {
    font-size: 1rem;
    margin: 0.5rem 0;
    align-self: center;
}

.product-card .rating.high {
    color: #4caf50; /* Green */
}

.product-card .rating.medium {
    color: #ff9800; /* Orange */
}

.product-card .rating.low {
    color: #f44336; /* Red */
}

.product-card .stock {
    font-size: 1rem;
    color: #ff9800;
    margin: 0.5rem 0;
    align-self: center;
}

.product-card .low-stock {
    color: #f44336;
}

.product-card .reviews-summary {
    font-size: 0.9rem;
    color: #333;
    margin-top: 1rem;
    align-self: center;
}

.btn-green{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
    border: 1px solid #666;
}


/* Toast Styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: rgb(4, 100, 4);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 30px;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgb(186, 93, 93);
    font-weight: 600;
    cursor: pointer;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* End Toast style */

