/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #333;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #111;
}



ul li ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul li ul li {
  list-style-type: circle;
}

/* Css for Index */
iframe {
  width: 100%;
  border: none;
  height: 60px; /* Adjust height to fit your navbar */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: 95%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.photo {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  margin-right: 20px;
  margin-top: 20px;
}
.about {
  flex: 2;
  min-width: 200px;
}
.about p{
    font-size: larger;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.highlight {
  font-weight: bold;
}
/* End css for Index */


/* CSS for Education */

/* End  CSS for Education */

/* Responsive navbar*/
@media screen and (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li {
    margin: 0;
  }
  .navbar ul li a {
    padding: 10px;
  }
}
