body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group-raido {
    display: inline-block;
    margin-bottom: 15px;
}

.form-group-raido label {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}

input[type="radio"]{
    width: auto;
}

.error {
    color: red;
    font-size: 12px;
}
.error-border {
    border-color: red;
}
.success-border {
    border-color: green;
}
.button-container {
    margin: auto;
    text-align: center;
}

button {
    width: 100%;
    background-color: yellowgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
button:hover {
    background-color: green;
    border: 2px solid yellowgreen;
}

/* Toast Styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: rgb(4, 100, 4);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 30px;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgb(186, 93, 93);
    font-weight: 600;
    cursor: pointer;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
